.make-bold{
    font-weight: bold;
}
.home-outer-container{
    background-color: #3bb77e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dimension-top-image{
    width: 100%;
    overflow: hidden;
}

.top-section-head{
    font-size: 60px;
}
.top-section-para{
    font-weight: bold;
    font-size:larger;
}
.top-email-section{
    border-radius: 0.2em;
    border-width: 0px;
    padding: 10px;
    width :60%;
    outline: none;
}
.top-email-section:hover{
    transform: scale(1.01);
}
.top-section-button{
    background-color:  #3bb77e;
    border-width: 0px;
    width:25%;
    border-radius: 0.2em;
}
.top-section-button:hover{
    background-color: #ffffff;
    color:black !important;
    height:100%;
}
.top-section-button:active{
    transform: rotateX(20deg);
    transform: skewY(5deg);
}
.add-animations-left{
    animation-name: leftanimation;
    animation-duration: 1s;
}
.add-animation-zoom-out{
    animation-name: zoomanimation;
    animation-duration: 1s;
}
.add-animations-right{
    animation-name: rightanimation;
    animation-duration: 1s;
}
.categories{
    font-size: small;
    font-weight: 500;
    margin: 0px;
}
.products{
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
    border-radius: 10px;
}
.product-name{
    font-size: 16px;
    font-weight: 700;
}
h4{
    margin : 0px;
}
.manufacturer{
    font-size: small;
    color: lightslategray;
    margin:0px;
}
.manufacturer span{
    color: #52B800;
    font-weight: 600;
}
.ratings{
    margin: 0px;
}
.rupees{
    color:#228B22;
    font-weight: 700;
}
.rupees span{
    color : lightslategray;
    font-size: 14px;
    text-decoration: line-through;
}
.add-to-cart{
    width:100px;
}
.section{
    background-color: #fad6a5;
    border-radius: 16px;
}
.section-2{
    background-color: #D0F0C0;
    border-radius: 16px;
}
.adjust-image{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.footer-section{
    background-color: #f5f5f5;
    border-radius:16px;
}
@keyframes zoomanimation{
    100% {scale: 1;}
    0% {scale: 0.5;}
}
@keyframes leftanimation{
    100%{transform : translateX(0%);}
    0%{transform: translateX(-100%);}
}
@keyframes rightanimation{
    100%{transform : translateX(0%);}
    0%{transform: translateX(200%);}
}